<nav class="navigation">
  <ul class="navigation__list">
    <li id="lists__btn" class="navigation__links"><button class="navigation__link navigation__link_list"></button></li>
    <li id="group__btn" class="navigation__links"><button class="navigation__link navigation__link_group"></button></li>
    <li id="addList__btn" class="navigation__links"><button class="navigation__link navigation__link_add_list"></button></li>
    <li id="profile__btn" class="navigation__links"><button class="navigation__link navigation__link_profile"></button></li>
  </ul>
</nav>