<div class="main">
  <div id="profile" class="profile profile__hide">
    <ul class="profile__list">
      <li class="profile__links"><h2 class="profile__name">{{userData.firstName}} {{userData.secondName}}</h2></li>
      <li class="profile__links">
        <h2 class="profile__email">{{userData.email}}</h2>
      </li>
      </ul><li class="profile__links"><button id="group" class="profile__link">Мои группы</button></li>
      </ul><li class="profile__links"><button id="list" class="profile__link">Мои списки</button></li>
      </ul><li class="profile__links"><button id="logout" class="profile__link">LogOut</button></li>
      </ul>
      </ul>
  </div>
</div>