<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/lists.css">
  <link rel="stylesheet" href="/css/addList.css">
  <link rel="stylesheet" href="/css/group.css">

  <script defer src="/js/auth.js"></script>
  <script defer src="/js/navigation.js"></script>
  <script defer src="/js/profile.js"></script>
  <script defer src="/js/addList.js"></script>
  <title>List Shop</title>
</head>
<body class="page">
  {{{body}}}
  {{#if user}}
  {{>navigation}}
  {{/if}}
</body>

</html>