<div id="form__main" class="form__main">
<form id="form__login" class="form__register">
  <input class="form__register__input" type="email" name="email" placeholder="yuor name">
  <input class="form__register__input" type="password" name="password" placeholder="yuor password">
  <div class="form__action">
    <button class="form__register__logIn"><a href="/user/register">SIGNUP</a></button>
    <button class="form__register__send">SIGIN</button>
  </div>
</form>
</div>