<div id="form__main" class="form__main">
<form action="/user/login" id="form__login" class="form__register" method="POST">
  <input class="form__register__input" type="email" name="email" placeholder="Введите email">
  <input class="form__register__input" type="password" name="password" placeholder="Введите пароль">
  <div class="form__action">
    <button type="button" class="form__register__logIn"><a href="/user/register">Регистрация</a></button>
    <button class="form__register__send">Авторизация</button>
  </div>
</form>
</div>