<div class="form__main">
  <form action="/user/register" id="form__register" class="form__register" method="POST">
    <input class="form__register__input" type="text" name="firstName" placeholder="firstName">
    <input class="form__register__input" type="text" name="secondName" placeholder="secondName">
    <input class="form__register__input" type="email" name="email" placeholder="your email">
    <input class="form__register__input" type="password" name="password" placeholder="your password">
    <input class="form__register__input" type="password" placeholder="your password two">
    <div class="form__action">
      <button type="button" id="login__start" class="form__register__logIn"> <a href="/user/login">SIGIN</a></button>
      <button  class="form__register__send">Submit</button>
    </div>
  </form>
</div>