.show__addList {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
   align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  justify-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hide {
  display: none;
}

.addList_form {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

/* list item */
.show__list {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  justify-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.show__list_hide {
  display: none;
}

.element_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  position: absolute;
}

.element_list_menu {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  max-height: 80px;
  width: 100vw;
  background-color: rgb(30, 173, 30);
  color: rgb(224, 219, 208);
  box-sizing: border-box;
  overflow: hidden;
}

.menu__action {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: rgb(30, 173, 30);
}

.element_menu__title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.element_menu__action_cancel {
  margin: 0;
  padding: 0;
  flex: 1 1 25%;
  height: 40px;
  box-sizing: border-box;
  background-color: rgb(30, 173, 30);
  background-image: url('/img/close__list.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.element_list__action_save {
  margin: 0;
  padding: 0;
  flex: 1 1 25%;
  height: 40px;
  box-sizing: border-box;
  background-image: url('/img/save__list.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: rgb(30, 173, 30);

}

.element_list__action_invite_peple {
  margin: 0;
  padding: 0;
  flex: 1 1 25%;
  height: 40px;
  box-sizing: border-box;
  background-image: url('/img/invite__pepole.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-size: contain;
  background-color: rgb(30, 173, 30);

}

.element_list__action_invite_group {
  margin: 0;
  padding: 0;
  flex: 1 1 25%;
  height: 40px;
  box-sizing: border-box;
  background-image: url('/img/invite__group.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: rgb(30, 173, 30);

}
.element_list__goods_list {
  margin: 100px 0 0 0;
  padding: 0;
  width: 90vw;
  box-sizing: border-box;
}

.element_list__goods_links {
  margin: 5px 0 0 0;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  list-style: none;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
}

.element_list__goods_link {
  margin: 0;
  padding: 0;
  background-color: white;
  border: none;
  text-align: center;
  width: 90%;
}

.items__edits {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background-image: url('/img/items__buy.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.completed {
  color: green;
}

.completed_false {
  color: red;
}
