.massege {
  margin: 70px 0 0 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  justify-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 25;
}

.massege_hide {
  display: none;
}
